.conteiner {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 2px solid #030303;
  border-radius: 8px;
  background-color: #f3f3f3;
  text-align: center;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

.description {
  padding: 10px;
}

.avatar {
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #312222;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: #0e0505;
  padding: 10px;
}

.tag,
.location {
  font-size: 14px;
  color: #767676;
}

.stats {
  display: flex;
  background-color: #ded0d0;
  border-top: 2px solid #8b8f95;
  width: 100%;
}

.stats li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.stats li:not(:last-child) {
  border-right: 2px solid #8b8f95;
}

.label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: rgb(30, 30, 30);
}
.quantity {
  font-size: 14px;
  font-weight: 700;
  color: rgb(30, 30, 30);
}
