.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.name {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

.status {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.online {
  color: green;
}

.offline {
  color: red;
}
